$color1: #005670;
$color2: #ffaa60;
$color3: #fff1f1;
$color4: #5bd5ee;
$color-shadow: #000;
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/****************默认窗体样式***************/ 
.el-dialog{
  top: 20px;
  left: 20px;
  position: absolute;
  pointer-events: auto;
  width: 350px;
  background-color: rgba($color: $color1, $alpha: 0.55);
  // background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba($color: $color3, $alpha: 0.4);
  box-shadow: 1px 1px 5px 1px rgba($color: $color-shadow, $alpha: 0.5);
}
.el-dialog__header{
  padding: 5px 0px 0px 0px;
  text-align: center;
}

.el-dialog__title{
  color: rgba($color: $color4, $alpha: 0.9);
  font-size: 15px;
}

.el-dialog__body{
  color: rgba($color: $color3, $alpha: 0.9);
  // background-color: rgba(114, 189, 204, 0.308);
  background-color: rgba($color: $color-shadow, $alpha: 0.2);
  padding: 10px;
  margin: 5px 10px 10px 10px;
  max-height: 600px;
  overflow: auto;
}

.el-dialog__body::-webkit-scrollbar {
  width: 8px;
}
.el-dialog__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.el-dialog__body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.el-dialog__wrapper{
  pointer-events: none;
}

.el-dialog__headerbtn{
  top: 5px;
  right: 5px;
  // border: 1px solid #fff;
  // border-radius: 90px;
  // height: 18px;
  // width: 18px;
}

.attribute-row:first-child{
  padding: 0px 0px 2.5px 0px;
}
.attribute-row{
  border-bottom: 1px solid rgba(255,255,255,0.12);
  padding: 3px 0px 3px 0px;
}

// .attribute-row:nth-of-type(odd){
//   background-color: rgba($color: rgb(118, 121, 124), $alpha: 0.3);
// }

.attribute-row .attribute-key{
  color: rgba($color: $color2, $alpha: 0.8);
}

.attribute-row .attribute-list span{
  display: block;
  margin-left: 13px;
  margin-top: 2px;
  color:rgba($color: $color3, $alpha: 0.8);
}

.attribute-row .attribute-value{
  margin-left:5px; 
  color: rgba($color: $color3, $alpha: 0.8);
}

.attribute-dlg .el-dialog__body{
  // height: 400px;
  font-size: 13px;
  font-family:'Microsoft YaHei';

}
/****************end of 默认窗体样式***************/ 

/****************dat gui 样式修改******************/
.dg.main{
  width: 200px!important;
  right: 0px;
  top: 100px!important;
}

.dg.main .close-button{
  display: none;
}

.dg li.folder{
  border-left: none;
  // box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.dg li.title{
  background-color: rgba($color: $color-shadow, $alpha: 0.6);
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin-left:0px;
  background-position-x: 8px;
  background-position-y: 15px;
}

.dg .cr.boolean{
  border-left: 3px solid $color4;
  font-size: 13px;
  height: 34px;
  line-height: 34px;
  padding-left: 12px;
}

.dg li:not(.folder) {
  background-color: rgba($color: $color-shadow, $alpha: 0.6);
  // border-bottom: 1px solid #3b3b3b;
}

.dg .property-name{
  width: auto;
}
.dg .c{
  width: auto;
  float: right;
  margin-right: 20px;
}

.dg .c input[type=checkbox]{
  -webkit-appearance: none;
  vertical-align:middle;
  margin-top:0;
  background:rgba(255, 255, 255, 0.2);
  border:rgba(153, 153, 153, 0.6) solid 1px;
  border-radius: 3px;
  min-height: 12px;
  min-width: 12px;
  width: 18px;
  height: 18px;
}
.dg .c input[type=checkbox]:checked {
  background: $color1;
}
.dg .c input[type=checkbox]:checked::after{
  content: '';
  top: 13px;
  left: 4px;
  position: absolute;
  background: transparent;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 6px;
  width: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
  transform: rotate(-45deg);
}


/*************end of dat gui 样式修改**************/