// $color1: #09153d;
$color1: rgba(37, 42, 49, 0.8);//rgba(9, 21, 61, .8);
$color2: #ffaa60;
$color3: #fff1f1;
$color4: #5bd5ee;
$color5: rgba(63,72,84,.9);
$color6: rgba(255, 255, 255, 0.8);
$color-shadow: #000;